* {
    font-size: 20px;
}

.ant-layout-sider-trigger {
    background-color: #2f54eb !important;
}

.avatardelete>span {
    font-size: 15px;
}

.sizefont span {
    font-size: 16px;
}

label {
    color: #818181 !important;
}